<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{info}}</p>
        <form>
            <input type="text" placeholder="Address">
            <button type="submit">Search</button>
        </form>
        <p class="massageOne"></p>
        <p class="massageTwo"></p>
    </div>
    {{>footer}}

    <script src="js/index.js"></script>
</body>

</html>